extends layout

block content
  h1 Square POS Test
  p Enter Client ID
    div
      input#clientID
  p Purchase package A ($1)
    div
      button#packA Package A
  p Purchase Package B ($2)
    div
      button#packB Package B

